.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.add-game {
  position: fixed;
  font-size: 1.3em;
}
.fluid-column {
  column-width: 100vw;
}
.game-card-info {
  column-width: 100vw;
  border: 0.5em solid hsla(120,100%,25%,0.3);
  background: yellowgreen;
/*  background-clip: padding-box;*/
/*  background: linear-gradient(-45deg, transparent 15px, yellowgreen 0);*/
border-radius: 1em;
cursor: pointer;
}
.game-card-info:hover {
    background: linear-gradient(-45deg, transparent 15px, yellowgreen 0);
}

.equal {
    float: left;
    width:  10em;
    height: 10em;
}

.mySearch{
  text-align: center;
  justify-content: center;
  padding: 1em;
}

